{% extends "admin/base_admin.html" %}

{% block content %}
    <div class="card shadow-sm col-md-6">
        <div class="card-body">
            <h4 class="mb-4">Заполнение данных</h4>
            <form method="post">
                {{ form.hidden_tag() }}
                {% for field in form if field.name != 'csrf_token' and field.name !='submit' %}
                    <div class="mb-3">
                        {{ field.label(class="form-label") }}
                        {{ field(class="form-control" if field.type != 'SelectField' else "form-select") }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">{{ form.submit.label.text }}</button>
            </form>
        </div>
    </div>
{% endblock %}