{% extends "base.html" %}
{% block title %} О компании {% endblock %}
{% block content %}
    <div class="row align-items-center">
        <div class="col-lg-8">
            <h2 class="fw-bold mb-6">О компании</h2>
            <p><strong>Радиозавод "Вектор"</strong> — это сплав многолетнего опыта советской инженерной школы и
                передовых технологий микроэлектроники. С 1995 года мы прошли путь от локального сборочного цеха до
                высокотехнологичного предприятия полного цикла.</p>
            <p>Сегодня наш завод — это мощный <strong>R&D-центр</strong>. Мы проектируем сложнейшие системы «с нуля»,
                обеспечивая технологический суверенитет в области радиосвязи.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ url_for('static', filename='images/logo_about.png') }}" alt="Logo" width="270" height="auto">
        </div>
    </div>
{% endblock %}
