{% extends "base.html" %}
{% block title %} Контакты {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <h2 class="fw-bold mb-4">Контакты</h2>
            <p><strong>Адрес:</strong> 123456, г. Москва, ул. Юбилейная, д. 10</p>
            <p><strong>Телефон:</strong> +7 (495) 000-00-00</p>
            <p><strong>E-mail:</strong> info@vector-radio.ru</p>
            <p><strong>Режим работы:</strong> Пн-Пт с 08:00 до 17:00</p>
        </div>
    </div>
{% endblock %}
