{% extends "base.html" %}
{% block title %} Главное меню {% endblock %}
{% block content %}
    <section class="py-5 bg-white">
        <div class="container text-center">
            <h2 class="mb-5 fw-bold">Почему выбирают нас</h2>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="p-4 border rounded shadow-sm">
                        <h3 class="text-primary h1">01</h3>
                        <h5 class="fw-bold">Полный цикл</h5>
                        <p class="text-muted">От идеи и проектирования до серийного выпуска и сервиса.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4 border rounded shadow-sm">
                        <h3 class="text-primary h1">02</h3>
                        <h5 class="fw-bold">Гарантия качества</h5>
                        <p class="text-muted">Многоступенчатый контроль ОТК и соответствие госстандартам.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4 border rounded shadow-sm">
                        <h3 class="text-primary h1">03</h3>
                        <h5 class="fw-bold">R&D Центр</h5>
                        <p class="text-muted">Собственное конструкторское бюро для нестандартных задач.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
